[user]
	name = Aleksandr Druzhilov
	email = adruzhilov@unison.com
[color]
	ui = true
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[mergetool]
	prompt = false
